<h2>LogIn</h2>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="ENTER USERNAME">
    <input type="password" name="password" placeholder="ENTER PASSWORD">
    <button>Login</button>
</form>

<ul>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>