body{
    font-family: "Ubuntu", sans-serif;
}

blockquote{
    border-left: 5px solid #5cb85c;
}

.form-container{
    width: 30%;
    margin: 20px auto;
}

.thumbnail{
    padding: 0;
}

.thumbnail img{
    width: 100%;
}