<% include partials/header.ejs %>

<h2>Login</h2>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="ENTER USERNAME">
    <input type="password" name="password" placeholder="ENTER PASSWORD">
    <button>Submit</button>
</form>

<% include partials/footer.ejs %>