<h2>Register!</h2>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="ENTER USERNAME">
    <input type="password" name="password" placeholder="ENTER PASSWORD">
    <button>Register</button>
</form>
